.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .movieImg {
    width: 100%;
    height: 300px;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .movieTitleContainer {
    padding: 10px;
    text-align: center;
    background-color: #FA812F;
    box-sizing: border-box;
    margin-top: -4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
  }
  .movieTitleContainer h4 {
    color: white;
}
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
